<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sch.smktelkom_mlg.project.xirpl201101928.playluck">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CodeLuck"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dice"
            android:label="dice"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".rps"></activity>
        <activity android:name=".rpsc"></activity>
        <activity android:name=".dicec"></activity>
        <activity android:name=".GridMenu"></activity>
        <activity android:name=".menu1"
            android:label="Basic Widget"></activity>
        <activity android:name=".menu2"
            android:label="Layout"></activity>
        <activity android:name=".menu3"
            android:label="Butter Knife &amp; Data Binding"></activity>
        <activity android:name=".menu4"
            android:label="Intent"></activity>
        <activity android:name=".menu5"
            android:label="Recycler View"></activity>
        <activity
            android:name=".menu6"
            android:label="Simple Game"></activity>
        <activity
            android:name=".CodeBasic"
            android:label="Basic Widget"></activity>
        <activity
            android:name=".CodeLay"
            android:label="Layout"></activity>
        <activity
            android:name=".CodeButter"
            android:label="Butter Knife &amp; Data Binding"></activity>
        <activity
            android:name=".CodeInt"
            android:label="Intent"></activity>
        <activity
            android:name=".CodeRV"
            android:label="Recycler View"></activity>
        <activity android:name=".Manifestbsc"
            android:label="Basic Widget"></activity>
        <activity android:name=".Manifestbtr"
            android:label="Basic Widget"></activity>
        <activity android:name=".Manifestint"
            android:label="Basic Widget"></activity>
        <activity android:name=".Manifestlay"
            android:label="Basic Widget"></activity>
        <activity android:name=".Manifestrv"
            android:label="Basic Widget"></activity>
        <activity android:name=".Manifestrps"
            android:label="Basic Widget"></activity>
        <activity android:name=".Javabsc"
            android:label="Basic Widget"></activity>
        <activity android:name=".Javabtr"
            android:label="Basic Widget"></activity>
        <activity android:name=".Javaint"
            android:label="Basic Widget"></activity>
        <activity android:name=".Javalay"
            android:label="Basic Widget"></activity>
        <activity android:name=".Javarv"
            android:label="Basic Widget"></activity>
        <activity android:name=".Javarps"
            android:label="Basic Widget"></activity>
        <activity android:name=".XMLbsc"
            android:label="Basic Widget"></activity>
        <activity android:name=".XMLbtr"
            android:label="Basic Widget"></activity>
        <activity android:name=".XMLint"
            android:label="Basic Widget"></activity>
        <activity android:name=".XMLlay"
            android:label="Basic Widget"></activity>
        <activity android:name=".XMLrv"
            android:label="Basic Widget"></activity>
        <activity android:name=".XMLrps"
            android:label="Basic Widget"></activity>
    </application>
    

</manifest>